<div class="row card ms-3 me-3 p-3 sinborde">
  <div class="col-12 row m-0 p-0">
      <div class="col-12 col-sm-3 m-0 p-0 d-flex align-items-center justify-content-center">
          <img class="img-thumbnail nosotros sinborde" src="assets/img/Imagotipo.png" alt="Axelis">
      </div>

      <div class="col-12 col-sm-9 row align-items-center p-4">
          <h1 class="col-12">¡Somos <span class="axelis">Axelis</span>!</h1>
          <p class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui aut praesentium totam deleniti accusantium delectus voluptate. Tenetur enim tempora eligendi eum sit earum maiores, saepe facere quae. Error, recusandae.</p>
      </div>
  </div>
</div>
