body{
  background-color: rgb(200, 200, 200);
}

.container{
  background-color: white;
}

h1{
  text-align: center;
}

.axelis{
  font-family: 'Rock Salt', cursive;
}

#panel{
  height: 350px;
  background-image: url(assets/img/background.jpg);
  background-size: cover;
}

#panel h2{
  color: white;
  text-shadow: 2px 2px #3200C3, -2px -2px #3200C3, 2px -2px #3200C3, -2px 2px #3200C3;
}

hr{
  background-color: transparent;
  border-top: dotted #3200C3;
  opacity: .8;
}

.sinborde{
  border: none;
}
