<nav class="navbar">
  <div class="container-fluid text-center">
      <a class="nav-item col-12 col-xl-auto m-3" href="index.html"><img src="../assets/img/Logotipo-90px.png" alt="Axelis logo"></a>

      <ul class="nav nav-pills col m-3">
          <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link active" routerLink="/inicio">Inicio</a></li>
          <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" routerLink="/proyectos">Proyecto</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Desarrollos</a>
            <ul class="dropdown-menu">
              <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="dropdown-item" routerLink="/aplicaciones">Aplicaciones</a></li>
              <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="dropdown-item" routerLink="/juegos">Juegos</a></li>
            </ul>
          </li>
          <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" routerLink="/nosotros">Nosotros</a></li>
          <li class="nav-item col-12 col-sm-4 col-xl-auto"><a class="nav-link" routerLink="/contactanos">Contactanos</a></li>
      </ul>
  </div>
</nav>
